// Enable resistFingerprinting
user_pref("privacy.resistFingerprinting", true);

// Set default search engine
user_pref("browser.search.defaultenginename", "DuckDuckGo");

// Disable WebGL
user_pref("webgl.disabled", true);
