# {{ ansible_managed }}
Port {{ ssh_port }}
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication {{ 'yes' if ssh_password_auth else 'no' }}
ChallengeResponseAuthentication no
{% if ssh_allowed_users | length > 0 %}
AllowUsers {{ ssh_allowed_users | join(' ') }}
{% endif %}
Subsystem sftp /usr/lib/ssh/sftp-server
