# {{ ansible_managed }}
Port {{ ssh_port }}
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication {{ 'yes' if ssh_password_auth else 'no' }}
ChallengeResponseAuthentication no
AllowUsers {{ ssh_allowed_users | join(' ') }}
Subsystem sftp /usr/lib/ssh/sftp-server
