GRUB_DEFAULT={{ grub_default | default('0') }}
GRUB_TIMEOUT={{ grub_timeout | default('5') }}
GRUB_DISTRIBUTOR="Arch Linux"
GRUB_CMDLINE_LINUX_DEFAULT="{{ grub_cmdline_linux_default | default('loglevel=3 quiet') }}"
GRUB_CMDLINE_LINUX=""

# Uncomment to enable booting from LUKS encrypted devices
{% if grub_enable_cryptodisk | default(false) %}
GRUB_ENABLE_CRYPTODISK=y
{% endif %}

# Uncomment to use graphical terminal
{% if grub_gfxmode | default(false) %}
GRUB_GFXMODE={{ grub_gfxmode }}
GRUB_GFXPAYLOAD_LINUX=keep
{% endif %}

# Uncomment to use theme
{% if grub_theme_enabled | default(false) %}
GRUB_THEME="/usr/share/grub/themes/{{ grub_theme_name }}/theme.txt"
{% endif %}
