[defaults]
#Simplify log output
stdout_callback = default
callback_result_format = yaml
display_skipped_hosts = False
callback_result_indentation = 4
callback_format_pretty = true

# Define log path
log_path = ~/.dotfiles.log

#Path Variables
roles_path = ~/.dotfiles/ansible/roles
collections_path = ~/.dotfiles/ansible/.collections
interpreter_python = /usr/bin/python3

# Define Vault Password
#vault_password_file = .vault_pass.txt

# I don't know what these do
retry_files_enabled = False
host_key_checking = False
