[defaults]
#Simplify log output
callback_plugins = ~/.dotfiles/ansible/callback_plugins
stdout_callback = log_output_normalizer
callback_result_format = yaml
display_skipped_hosts = False
callback_result_indentation = 4
callback_format_pretty = true
show_task_path_on_failure = true

# Define log path
log_path = ~/.ansible.log

#Path Variables
roles_path = ~/.dotfiles/ansible/roles
collections_path = ~/.dotfiles/ansible/.collections
interpreter_python = /usr/bin/python3

# Define Vault Password
#vault_password_file = .vault_pass.txt

# I don't know what these do
retry_files_enabled = False
host_key_checking = False

[callback_log_output_normalizer]

custom_log_path = ./a_custom_log.log
