[defaults]
log_path = ~/.dotfiles.log
retry_files_enabled = False
#vault_password_file = .vault_pass.txt
host_key_checking = False
roles_path = ~/.dotfiles/ansible/roles
collections_path = ~/.dotfiles/ansible/.collections
interpreter_python = /usr/bin/python3
